@using BlazingTrails.Shared.Features.ManageTrails.RemoveTrail

@inject IMediator Mediator

<div class="card shadow" style="width: 18rem">
    <img src="@(!string.IsNullOrWhiteSpace(Trail.Image) ? $"/images/{Trail.Image}" :
                  "https://via.placeholder.com/286x190.jpg?text=No+Image+For+Trail")" 
         class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">@Trail.Name</h5>
        <h6 class="card-subtitle mb-3 text-muted">
            <span class="oi oi-map-marker"></span>
            @Trail.Location
        </h6>
        <div class="d-flex justify-content-between">
            <span>
                <span class="oi oi-clock mr-2"></span>
                @Trail.TimeFormatted
            </span>
            <span>
                <span class="oi oi-infinity mr-2"></span>
                @Trail.LengthKm km
            </span>
        </div>
        <button class="btn btn-primary" title="View" @onclick="async () => await OnSelected.InvokeAsync(Trail)">
            <span class="bi bi-binoculars"></span>
        </button>
        <FavoriteButton Trail="Trail" />
        <AuthorizeView>
            <button class="btn btn-danger float-end" title="Delete" @onclick="DeleteTrail">
                <i class="bi bi-trash"></i>
            </button>
        </AuthorizeView>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Trail Trail { get; set; } = default!;

    [Parameter]
    public EventCallback<Trail> OnSelected { get; set; }

    private async Task DeleteTrail()
    {
        await Mediator.Send(new DeleteTrailRequest(Trail.Id));
    }
}