@using BlazingTrails.Shared.Features.ManageTrails.RemoveTrail

@inject IMediator Mediator

<div class="card shadow" style="width: 18rem">
    <img src="@(!string.IsNullOrWhiteSpace(Trail.Image) ? $"/images/{Trail.Image}" :
                  "https://via.placeholder.com/286x190.jpg?text=No+Image+For+Trail")" 
         class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">@Trail.Name</h5>
        <h6 class="card-subtitle mb-3 text-muted">
            <NavLink class="link-secondary" href="@($"/location/{Trail.Location}")">
                <i class="oi oi-map-marker"></i> @Trail.Location
            </NavLink>
        </h6>
        <div class="d-flex justify-content-between">
            <span>
                <span class="oi oi-clock mr-2"></span>
                @Trail.TimeFormatted
            </span>
            <span>
                <span class="oi oi-infinity mr-2"></span>
                @Trail.LengthKm km
            </span>
        </div>
        <TrailButtons Trail="Trail" OnSelected="OnSelected"/>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Trail Trail { get; set; } = default!;

    [Parameter]
    public EventCallback<Trail> OnSelected { get; set; }
}